<main>
  <section class='post-container'>
    <div>
      <div class='user-post'>
        <h3>Post <%= @post.id %></h3>
        <p><%= @post.text %></p>
        <span>Comments: <%= @post.comments_counter %></span>
        <span>Likes: <%= @post.likes_counter %></span>
      </div>
      <div class='user-post-comments'>
          <% @post.comments.each do |comment| %>
            <div class='user-post-comment'>
              <p><strong><%= comment.user.name %>:</strong></p>
              <p><%= comment.text %></p>
            </div>
          <% end %>
        </div>
    </div>
  </section>
</main>
